<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>publications</title><style type="text/css">
<!--
.STYLE1 {	font-size: x-large;
	font-weight: bold;
}
.STYLE4 {font-size: 14; color: #006699; font-weight: bold; }
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.STYLE5 {color: #FF0000}
-->
</style>
</head>

<body>
<p class="STYLE1">Welcome to Changhe Li's Publications Page</p>
<hr />
<table width="827" height="23" border="0" bordercolor="#ECE9D8" bgcolor="#ECE9D8">
  <tr bgcolor="#0066FF">
    <td width="81" nowrap="nowrap" bordercolor="#ECE9D8" bgcolor="#ECE9D8"><a href="index.html" class="STYLE4">About Me </a></td>
    <td width="51" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4"><a href="news.html" class="STYLE4">News</a></td>
    <td width="81" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4"><a href="research.html" class="STYLE4">Research</a></td>
    <td width="79" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4"><a href="teachingRes/Cplusplus.html" class="STYLE4">Teaching</a></td>
    <td width="110" nowrap="nowrap" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4"><a href="publications.html" class="STYLE4">Publications</a></td>
    <td width="61" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4"><a href="EAlib.html" class="STYLE4">OFEC</a></td>
    <td width="94" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4"><a href="downloads.html" class="STYLE4">Downloads</a></td>
    <td width="66" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4"><a href="funding.html">Funding</a></td>
    <td width="87" bordercolor="#ECE9D8" bgcolor="#ECE9D8" class="STYLE4">Links</td>
  </tr>
</table>
<p><span class="STYLE5">Note</span>: For research purpose, some of the whole papers listed below are provided. However,the copyright of these papers belongs to the corresponding publishers. </p>
<hr />
<ul>
  <li>Journal Papers<ol>
  <li>Michalis Mavrovouniotis, Shengxiang Yang, Mien Van, Changhe Li, Marios Polycarpou. Ant Colony Optimization Algorithms for Dynamic Optimization: A Case Study of the Dynamic Travelling Salesperson Problem. IEEE Computational Intelligence Magazine, 2019, accepted.
  </li>
  <li>Ming Yang, Aimin Zhou, Changhe Li*, Jing Guan, Xuesong Yan. CCFR2: A more efficient cooperative co-evolutionary framework for large-scale global optimization. Information Sciences, 2020, 512: 64-79.
  </li>
  <li>Sanyou Zeng, Ruwang Jiao, Changhe Li, Rui Wang. Constrained Optimisation by Solving Equivalent Dynamic Loosely-constrained Multiobjective Optimisation Problem. International Journal of Bio-Inspired Computation, 2019, 13(2): 86-101.</li>
  <li>Ruwang Jiao, Sanyou Zeng, Changhe Li*. A Feasible-ratio Control Technique for Constrained Optimization. Information Sciences, 2019, 502: 201-217</li>
  <li>Ran Wang, Trung Thanh Nguyen, <strong>Changhe Li</strong>, Ian Jenkinson, Zaili Yang, Shayan Kavakeb. Optimising Discrete Dynamic Berth Allocations in Seaports Using A Levy Flight Based Meta-heuristic. Swarm and Evolutionary Computation, 2019, 44: 1003-1017, DOI: 10.1016/j.swevo.2018.10.011. </li>
  <li>Ruwang Jiao, Sanyou Zeng, <strong>Changhe Li*</strong>, Yuhong Jiang, Yaochu Jin. A Complete Expected Improvement Criterion for Gaussian Process Assisted Highly Constrained Expensive Optimization. Information Sciences, 2019, 471:80-96 </li>
  <li>Ming Yang, <strong>Changhe Li</strong>,Jing Guan,Xuesong Yan A Supervised-Learning p-Norm Distance Metric for Hyperspectral Remote Sensing Image Classification. IEEE Geoscience and Remote Sensing Letters, 2018,15(9):1432-1436.</li>
  <li><strong>Changhe Li</strong>, Trung Thanh Nguyen, Sanyou Zeng, Ming Yang and Min Wu. An Open Framework for Constructing Continuous Optimization Problems. IEEE Transactions on Cybernetics, 2019, 49(6):2316-2330, DOI: 10.1109/TCYB.2018.2825343</li>
<li>Ruwang Jiao<strong>,</strong> Sanyou Zeng<strong>,</strong> Jawdat S<strong>.</strong> Alkasassbeh and <strong>Changhe Li.</strong> Dynamic Multi-objective  Evolutionary Algorithms for Single-objective Optimization<strong>.</strong> Applied Soft  Computing<strong>,</strong> 2017<strong>,</strong>61<strong>:</strong>793-805<strong>.</strong> <strong>IF:3.541</strong></li>
<li>Michalis Mavrovouniotis<strong>,</strong> <strong>Changhe Li*</strong> and  Shengxiang Yang<strong>.</strong> A Survey of Swarm Intelligence for Dynamic Optimization<strong>:</strong> Algorithms and Applications<strong>.</strong> Swarm and Evolutionary Computation<strong>,</strong> 2017<strong>,</strong>33<strong>:</strong>1-17<strong>.IF:3.893</strong></li>
    <li>Sanyou Zeng<strong>,</strong> Ruwang Jiao<strong>,</strong> <strong>Changhe Li*,</strong> Xi  Li and Jawdat S<strong>.</strong> Alkasassbeh<strong>.</strong> A General Framework of Dynamic Constrained  Multi-objective Evolutionary Algorithms for Constrained Optimization<strong>.</strong> IEEE  Transactions on Cybernetics<strong>,</strong> 2017<strong>,</strong>47(9)<strong>:</strong>2678-2688<strong>.</strong>.IF:7.384</strong></li> 
	<li>Ming Yang<strong>,</strong> Mohammad Nabi Omidvar<strong>,</strong> <strong>Changhe Li,</strong> Zhihua Cai<strong>,</strong> Xiaodong Li<strong>,</strong> Borhan Kazimipour<strong> </strong>and Xin Yao<strong>.</strong> Efficient Resource  Allocation in Cooperative Co-evolution for Large-scale Global Optimization<strong>.</strong> IEEE Transactions on Evolutionary Computation<strong>,</strong><span ng-if="(vm.details.volume  || vm.details.issue)"><span ng-if="::vm.details.volume"> 2017<strong>,</strong>21</span>(4)</span><strong>:</strong>493-505<strong>.IF:10.629</strong></li>
<li>Xi Li<strong>,</strong> Sanyou Zeng and<strong> Changhe Li*.</strong> Many-objective  Optimization with Dynamic Constraint Handling for Constrained Optimization  Problems<strong>.</strong> Soft Computing, 2017, 21(24):7435-7445.(Corresponding author)<strong>.IF:2.472</strong></li>
	<li><strong>Changhe Li,</strong> Trung Thanh Nguyen<strong>,</strong> Ming Yang<strong>,</strong> Michalis Mavrovouniotis<strong> </strong>and Shengxiang Yang<strong>.</strong> An Adaptive  Multi-population Framework for Locating and Tracking Multiple Optima<strong>.</strong> IEEE  Transactions on Evolutionary Computation<strong>,</strong> 2016<strong>,</strong>20(4)<strong>:</strong>590-605(C++ source code in <a href="EAlib.html">OFEC</a>)<strong>.</strong><strong>IF:10.629</strong> </li>
	<li><strong>Changhe Li,</strong> Trung Thanh Nguyen<strong>,</strong> Ming Yang<strong>,</strong> Shengxiang Yang<strong> </strong>and Sanyou Zeng<strong>.</strong> Multi-population Methods in  Unconstrained Continuous Dynamic Environments<strong>:</strong> The Challenges<strong>.</strong> Information  Sciences<strong>,</strong> Elsevier<strong>,</strong> 2015<strong>,</strong>296(296)<strong>:</strong>95-118(ranking in IS/CS<strong>:8/135</strong>)<strong>.IF:4.832</strong></li>
	<li>Ming Yang<strong>,</strong> <strong>Changhe Li*,</strong> Zhihua Cai<strong> </strong>and Jing Guan<strong>.</strong> Differential Evolution with Auto-Enhanced Population Diversity<strong>.</strong> IEEE  Transactions on Cybernetics<strong>,</strong> 2015<strong>,</strong>45(2)<strong>:</strong>302-315 (Corresponding author<strong>,</strong>ranking  in AI/CS<strong>:</strong> <strong>8/121</strong>)<strong>.</strong><strong>IF:7.384</strong></li>
	<li><strong>Changhe Li ,</strong> Ming Yang<strong> </strong>and Shengxiang Yang<strong>.</strong> An Adaptive  Multi-Swarm Optimizer for Dynamic Optimization Problems<strong>.</strong> <a name="OLE_LINK7" id="OLE_LINK7">Evolutionary Computation</a><strong>,</strong> MIT press<strong>,</strong>2014<strong>,</strong>22(4)<strong>:</strong>559-594( ranking in AI/CS<strong>:9/121, C++ source code in <a href="EAlib.html">OFEC</a></strong>)<strong>.</strong> <strong>IF:3.826</strong></li>
	<li>Hui Wang<strong>,</strong> Hui Sun<strong>,</strong> <strong>Changhe Li,</strong> Shahryar Rahnamayan and Jeng-shyang Pan<strong>.</strong> Diversity Enhanced Particle Swarm Optimization with  Neighborhood Search. <a name="OLE_LINK6" id="OLE_LINK6">Information Sciences</a><strong>,</strong> 2013<strong>,</strong>223<strong>:</strong>119-135(ranking in IS/CS<strong>:8/135</strong>)<strong>.IF:4.832</strong></li>
      <li><strong>Changhe Li,</strong>Shengxiang Yang<strong> </strong>and Trung  Thanh Nguyen<strong>.</strong> A Self-learning Particle Swarm Optimizer for Global Optimization  Problems<strong>.</strong> IEEE <a name="OLE_LINK5" id="OLE_LINK5">Transactions on Systems</a><strong>,</strong> Man<strong>,</strong> and Cybernetics Part B<strong>:</strong> Cybernetics<strong>,</strong> 2012<strong>,</strong>42(3)<strong>:</strong>627-646(ranking  in AI/CS<strong>:</strong> <strong>8/121,  C++ source code in <a href="EAlib.html">OFEC</a></strong>)<strong>.</strong> <strong>IF:6.220</strong></li>
      <li><strong>Changhe Li</strong> and Shengxiang Yang<strong>.</strong> A General Framework of Multi-population Methods with Clustering in Undetectable  Dynamic Environments<strong>.</strong> IEEE  Transactions on Evolutionary Computation<strong>,</strong> 2012<strong>,</strong>16(4)<strong>:</strong>556-577( ranking in AI/CS<strong>:</strong> <strong>5/121, C++ source code in <a href="EAlib.html">OFEC</a></strong>)<strong>.</strong><strong>IF: 10.629</strong></li>
      <li>Shengxiang Yang and <strong>Changhe Li.</strong> A Clustering Particle  Swarm Optimizer for Locating and Tracking Multiple Optima in Dynamic  Environments<strong>.</strong> <a name="OLE_LINK4" id="OLE_LINK4"></a><a name="OLE_LINK3" id="OLE_LINK3"></a>IEEE Transactions on Evolutionary  Computation<strong>,</strong> 2010<strong>,</strong>14(6)<strong>:</strong>959-974(ranking in AI/CS<strong>:</strong> <strong>5/121</strong>).<strong>IF: 10.629</strong></li>
      <li>Hui Wang<strong>,</strong> Zhijian Wu<strong>,</strong> Shahryar Rahnamayan<strong>,</strong> <strong>Changhe Li,</strong> Sanyou Zeng and Dazhi Jiang<strong>.</strong> Particle Swarm Optimization with Simple and Efficient  Neighborhood Search Strategies. International Journal of Innovative Computing and Applications<strong>,</strong> 2011<strong>,</strong>3(2)<strong>:</strong>97-104<strong>.</strong></li>
    </ol>
  </li>

  <li>Book Chapters</li>
  <li>Conference Papers  
    <ol>
	<li> Yiya Diao, Changhe Li, Sanyou Zeng, Michalis Mavrovouniotis and Shengxiang Yang, Memory-based multi-population genetic learning for dynamic shortest path problems, 2019 IEEE Congress on Evolutionary Computation (CEC), Wellington, New Zealand, 2019,  2276-2283.</li>
	<li>Ruwang Jiao, Sanyou Zeng, Changhe Li and Witold Pedrycz, Evolutionary Constrained Multi-objective Optimization using NSGA-II with Dynamic Constraint Handling, 2019 IEEE Congress on Evolutionary Computation (CEC), Wellington, New Zealand, 2019, 1634-1641.</li>
	
	<li>Ruwang Jiao, Sanyou Zeng, Changhe Li, Yuhong Jiang,and Junchen Wang, Expected improvement of constraint violation for expensive constrained optimization, Genetic and Evolutionary Computation Conference (GECCO), ACM, Kyoto, Japan,  2018, 1039-1046.</li>
	<li>Ruwang Jiao, Sanyou Zeng, Changhe Li, Yuhong Jiang. Dynamic constrained multi-objective evolutionary algorithms with a novel selection strategy for constrained optimization, Genetic and Evolutionary Computation Conference (GECCO), ACM, Kyoto, Japan, 2018, 213-214.</li>
	<li>Junchen Wang, Changhe Li, Yiya Diao, Sanyou Zeng, Hui Wang. An efficient nondominated sorting algorithm. Proceedings of the Genetic and Evolutionary Computation Conference, 203-204, Kyoto, Japan, 2018</li>
	<li>Yiya Diao, Changhe Li, Junchen Wang, Sanyou Zeng. A novel non-dominated sorting approach based on dominance ranking graph. Proceedings of the 37th Chinese Control Conference, Wuhan, China, July 25-27,2018</li>
	<li>Diao, Yiya, Changhe Li, Yebin Ma, Junchen Wang, and Xingang Zhou, A Probabilistic Learning Algorithm for the Shortest Path Problem, in Simulated Evolution and Learning: 11th International Conference, SEAL 2017, Shenzhen, China, November 10-13, 2017, Proceedings, Y. Shi, et al., Y. Shi, et al.^Editors. 2017, Springer International Publishing: Cham. p. 631-643.</li>
<li> Yong Xia<strong>,</strong> Changhe Li<strong>. </strong> Memory-based Statistical Learning for The Travelling Salesman Problem<strong>. </strong>IEEE International Conference on Evolutionary Computation (IEEE CEC 2016)<strong>,</strong>2935-2941<strong>,</strong> Vancouver<strong>,</strong> Canada<strong>,</strong> July 2016<strong>,</strong>24-29<strong>.</strong></li>
<li> Changhe Li<strong>. </strong>An Efficient Benchmark Generator for Dynamic Optimization Problems<strong>.</strong>The 11th International Conference on Bio-inspired Computing<strong>:</strong> Theories and Applications (BIC-TA 2016)<strong>,</strong> 682:60-72<strong>,</strong> Xi'an<strong>,</strong> China<strong>,</strong>2016<strong>.</strong></li>
<li> Caitao Zhan<strong>,</strong> Changhe Li<strong>. </strong>Shape Formation in Games<strong>:</strong> a Probability-based Evolutionary Approach<strong>.</strong> The 12th International Conference on Computational Intelligence and Security (CIS'2016) <strong>,</strong>Wuxi<strong>,</strong>China<strong>,</strong>2016<strong>.</strong></li>
	<li> Yong Xia<strong>,</strong> Changhe Li and Sanyou Zeng<strong>.</strong> Three New Heuristic Strategies For Solving Travelling Salesman Problem<strong>.</strong> Proceedings of the Fifth International Conference on Swarm Intelligence (ICSI-014)<strong>,</strong> 2014<strong>,</strong>8794<strong>:</strong>181-188<strong>.</strong></li>
	<li> Changhe Li<strong>,</strong> Shengxiang Yang and Ming Yang<strong>.</strong> Maintaining Diversity by Clustering in Dynamic Environments<strong>. </strong>Proceedings of the 2012 IEEE Congress on Evolutionary Computation<strong>,</strong> Brisbane<strong>,</strong> QLD<strong>,</strong>2012<strong>,</strong>1-8<strong>.</strong></li>
      <li>Changhe Li and Shengxiang Yang<strong>.</strong> Adaptive Learning Particle Swarm Optimizer--II for Function Optimization<em><strong>.</strong></em> Proceedings of the 2010 IEEE Congress on Evolutionary Computation<strong>,</strong> Barcelona<strong>,</strong> 2010<strong>,</strong>1-8<strong>.</strong> (<a href="../papers/Conferences/CEC/CEC10.pdf">PDF File</a>)</li>
      <li>Imtiaz Korejo<strong>,</strong> Shengxiang Yang and Changhe Li<strong>.</strong> A Directed Mutation Operator for Real Coded Genetic Algorithms<strong>.</strong> To appear in EvoApplications 2010<strong>:</strong> Applications of Evolutionary Computing<strong>,</strong> LNCS<strong>,</strong> 2010<strong>,</strong>6024<strong>:</strong> 491-500<strong>.</strong></li>
      <li>Imtiaz Korejo<strong>,</strong> Shengxiang Yang and Changhe Li<strong>.</strong> A Comparative Study of Adaptive Mutation Operators for Genetic Algorithms<strong>.</strong> Proceedings of the 8th Metaheuristic International Conference<strong>,</strong> 2009<strong>.</strong></li>
      <li>Changhe Li and Shengxiang Yang<strong>.</strong> An Adaptive Learning Particle Swarm Optimizer for Function Optimization<strong>.</strong> Proceedings of the 2009 IEEE Congress on Evolutionary Computation<strong>,</strong>2009<strong>,</strong>381-388<strong>.</strong> IEEE Press<strong>.</strong>(<a href="../papers/Conferences/CEC/CEC09-1.pdf">PDF File</a>)</li>
      <li>Changhe Li and Shengxiang Yang<strong>.</strong> A Clustering Particle Swarm Optimizer for Dynamic Optimization<strong>.</strong> Proceedings of the 2009 IEEE Congress on Evolutionary Computation<strong>,</strong>2009<strong>,</strong>439-446<strong>.</strong> IEEE Press<strong>.</strong>(<a href="../papers/Conferences/CEC/CEC09-2.pdf">PDF File</a>)</li>
      <li>Changhe Li and Shengxiang Yang<strong>.</strong> A Generalized Approach to Construct Benchmark Problems for Dynamic Optimization<strong>.</strong> Proceedings of the 7th Int. Conf. on Simulated Evolution and Learning<strong>,</strong> 2008<strong>.</strong> Springer.(<a href="../papers/Conferences/SEAL/SEAL08-1.pdf">PDF File</a>)</li>
      <li>Changhe Li and Shengxiang Yang<strong>.</strong> An Island Based Hybrid Evolutionary Algorithm for Optimization<strong>. </strong>Proceedings of the 7th Int. Conf. on Simulated Evolution and Learning<strong>,</strong> 2008<strong>,</strong>Springer.(<a href="../papers/Conferences/SEAL/SEAL08-2.pdf">PDF File</a>)</li>
      <li>Zhuo Kang<strong>,</strong> Lishan Kang<strong>,</strong> Changhe Li<strong>,</strong> Yuping Chen and Minzhong Liu<strong>.</strong>Convergence Properties of E-optimality Algorithms for Many Objective Optimization Problems<strong>.</strong> Evolutionary Computation<strong>,</strong> 2008<strong>.</strong> CEC<strong>,</strong> 2008<strong>,</strong>472-477<strong>.</strong></li>
      <li>Changhe Li<strong>,</strong> Shengxiang Yang and Imtiaz Ali Korejo<strong>. </strong>An Adaptive Mutation Operator for Particle Swarm Optimization<strong>.</strong> Proceedings of the 2008 UK Workshop on Computational Intelligence<strong>,</strong> 2008<strong>,</strong>165-170<strong>.</strong><a href="../papers/Conferences/UKCI/UKCI08.pdf">(PDF File</a>)</li>
      <li>Changhe Li and Shengxiang Yang<strong>.</strong> Fast Multi-swarm Optimization for Dynamic Optimization Problems<strong>.</strong> Proceedings of the 4th International Conference on Natural Computation<strong>,</strong><em>2</em>008<strong>,</strong>7(1)<strong>:</strong>624-628<strong>.</strong> IEEE Press.(<a href="../papers/Conferences/ICNC/ICNC08.pdf">PDF File</a>)</li>
      <li>Changhe Li<strong>,</strong> Yong Liu<strong>,</strong> Lishan Kang and Aimin Zhou<strong>.</strong> A Fast Particle Swarm Optimization Algorithm with Cauchy Mutation and Natural Selection Strategy<strong>.</strong> Springer Press<strong>,</strong>ISICA2007<strong>,</strong> LNCS4683<strong>,</strong> 2007<strong>,</strong>201(s 1-3)<strong>:</strong> 701-705.(<a href="../papers/Conferences/ISICA/ISICA07_1.pdf">PDF File</a>)</li>
      <li>Q. Zhang<strong>,</strong>Changhe Li<strong>,</strong> Yong Liu and Lishan Kang<strong>.</strong> Fast Multi-swarm Optimization with Cauchy Mutation and Crossover operation<strong>.</strong> ISICA07<strong>.</strong> Springer Press<strong>,</strong>ISICA2007<strong>,</strong> LNCS 4683<strong>,</strong> 2007<strong>,</strong>28<strong>:</strong> 344-352<strong>.</strong></li>
      <li>Yu gan<strong>,</strong> Changhe Li and Lishan Kang<strong>.</strong> New Function Optimization Algorithm Based on Gridding<strong>.</strong> Journal of Computer Applications<strong>,</strong> 2007<strong>,</strong>27(07)<strong>:</strong> 1760-1762<strong>.</strong></li>
      <li>Hui Wang<strong>,</strong> Yong Liu<strong>,</strong> Changhe Li and Sanyou Zeng<strong>.</strong> A Hybrid Particle Swarm Algorithm with Cauchy Mutation<strong>.</strong> In the proceedings of the 2007 IEEE Swarm Intelligence Symposium<strong>,</strong>2007<strong>,</strong>356-360<strong>.</strong></li>
      <li>Hui Wang<strong>,</strong> Yong Liu<strong>,</strong> Sanyou Zeng and Changhe Li<strong>.</strong> Opposition-based Particle Swarm Algorithm with Cauchy Mutation<strong>.</strong> CEC2007<strong>,</strong> IEEE Congress on Evolutionary Computation<strong>,</strong>2007<strong>,</strong>4750-4756<strong>.</strong></li>
      <li>Zhuo Kang<strong>,</strong> Lishan Kang<strong>,</strong> X. Zou<strong>,</strong> M. Liu<strong>,</strong> C. Li.A<strong>.</strong> New Evolutionary Decision Theory for Many-Objective Optimization Problems<strong>.</strong> ISICA07<strong>,</strong>Springer Press<strong>,</strong>ISICA2007<strong>,</strong> LNCS 4683<strong>.</strong></li>
      <li>Changhe Li<strong>,</strong> Ming Yang<strong>,</strong> Lishan Kang<strong>. </strong>A New Approach to Solving Dynamic TSP<strong>.</strong> SEAL06<strong>,</strong> Springer Press SEAL 2006<strong>,</strong> LNCS 4247<strong>,</strong>2006<strong>,</strong> 236-243<strong>.</strong>(<a href="../papers/Conferences/SEAL/Seal06.pdf">PDF File</a>)</li>
    </ol>
  </li>
</ul>
<ul>
  <li>Technical Reports
    <ol>
      <li>Changhe Li<strong>,</strong> Shengxiang Yang<strong>,</strong> D. Pelta<strong>.</strong> <a href="../papers/Tech-Reports/tech_report_CEC12.pdf">Benchmark Generator for CEC'2012 Competition on 
        Evolutionary Computation for Dynamic
      Optimization Problems</a><strong>,</strong>Tech. Rep.<strong>,</strong> the School of Computer Science,
      China University of Geosciences, Wuhan, China, 2012.</li>
      <li>Changhe Li<strong>,</strong> Shengxiang Yang<strong>,</strong> Trung Thanh Nguyen<strong>,</strong> E. L. Yu<strong>,</strong> X. Yao<strong>,</strong> Yaochu Jin<strong>,</strong> Hans-Georg Beyern and Ponnuthurai N. Suganthan<strong>,</strong> <a href="../papers/Tech-Reports/tech_report_CEC09_DBG.pdf">Benchmark generator for CEC'2009 competition on
      dynamic optimization</a><strong>,</strong> Tech. Rep.<strong>,</strong> Department of Computer Science<strong>,</strong> University of Leicester<strong>,</strong> U.K.<strong>,</strong> 2009<strong>.</strong></li>
    </ol>
  </li>

  <li>PhD Thesis
   <ol>
      <li> Particle Swarm Optimization in Stationary and Dynamic Environments<strong>.(</strong><a href="../papers/PhD-thesis.pdf">PDF File)</a> </li>
   </ol>
</li>
</ul>
<p>&nbsp;</p>
<hr />
<script language="JavaScript">
<!--hide script from old browsers
document.write("last updated: " + document.lastModified + "")
// end hiding -->
</script>
</body>
</html>
